#region-cargos.container

  .region
    .page-header
      %h1= page_title!('Cargos')

    .region
      .admin-control
        = link_to 'Crear Cargo', new_cargo_path, class: 'btn btn-primary btn-sm'
      %br
      .row
        .col-sm-10
          .table-responsive
            %table.table.table-condensed
              %tr
                %th Nombre
                %th Descripcion
                %th Acciones

              - @cargos.each do |cargo|
                %tr
                  %td= cargo.nombre
                  %td= cargo.descripcion
                  %td
                    = link_to 'Ver', cargo, class: 'btn btn-info btn-sm'                    
                    = link_to 'Editar', edit_cargo_path(cargo), class: 'btn btn-success btn-sm'
                    = link_to 'Eliminar', cargo, :method => :delete, :data => { :confirm => '¿Estás Seguro?' }, class: 'btn btn-danger btn-sm'
