#region-tikeds.container

  .region
    .page-header
      %h1= page_title!('Tikeds')

    .region      
      .admin-control
        = link_to '<span class="glyphicon glyphicon-plus"></span> Crear Tiked'.html_safe, new_tiked_path, class: 'btn btn-primary btn-sm'
      %br
      .row
        .col-sm-6
          .table-responsive
            %table.table
              %tr
                %th Id
                %th Tipo soporte
                %th Observaciones
                %th Acciones

              - @tikeds.each do |tiked|
                %tr
                  %td= tiked.id
                  %td= tiked.tipo_soporte_id
                  %td= tiked.observaciones
                  %td
                    = link_to '<span class="glyphicon glyphicon-eye-open"></span> Ver'.html_safe, tiked, class: 'btn btn-info btn-sm'
                    = link_to '<span class="glyphicon glyphicon-edit"></span> Editar'.html_safe, edit_tiked_path(tiked), class: 'btn btn-success btn-sm'
                    = link_to '<span class="glyphicon glyphicon-trash"></span> Eliminar'.html_safe, tiked, :method => :delete, :data => { :confirm => '¿Estás Seguro?' }, class: 'btn btn-danger btn-sm'
