#region-areas.container

  .region
    .page-header
      %h1= page_title!('Areas')

    .region      
      .admin-control
        = link_to 'Crear Area', new_area_path, class: 'btn btn-primary btn-sm'
      %br
      .row
        .col-sm-7        
          .table-responsive
            %table.table.table-condensed
              %tr
                %th Nombre
                %th Descripcion
                %th Acciones

              - @areas.each do |area|
                %tr
                  %td= area.nombre
                  %td= area.descripcion
                  %td
                    = link_to 'Ver', area, class: 'btn btn-info btn-sm'                    
                    = link_to 'Editar', edit_area_path(area), class: 'btn btn-success btn-sm'
                    = link_to 'Eliminar', area, :method => :delete, :data => { :confirm => '¿Estás Seguro?' }, class: 'btn btn-danger btn-sm'
