#region-empresas.container
  .region
    .page-header
      %h1= page_title!('Empresa')

  .region
    %p
      %b Nombre:
      = @empresa.nombre
    %p
      %b Descripcion:
      = @empresa.descripcion

  .region
    .admin-controls
      - if current_admin     
        = link_to 'Editar', edit_empresa_path(@empresa), class: 'btn btn-success'
      = link_to 'Regresar', empresas_path, class: 'btn btn-warning'
