.authform
  = form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :role => 'form'}) do |f|
    %h3 Registro de Usuario
    = devise_error_messages!
    .form-group
      = f.label :nombre
      = f.text_field :nombre, :autofocus => true, class: 'form-control'
    .form-group
      = f.label :apellido
      = f.text_field :apellido, :autofocus => true, class: 'form-control'
    .form-group
      = f.label :email
      = f.email_field :email, :autofocus => true, class: 'form-control'
    .form-group
      = f.label :password
      = f.password_field :password, class: 'form-control'
    .form-group
      = f.label :password_confirmation
      = f.password_field :password_confirmation, class: 'form-control'
    = f.submit 'Registrar', class: 'button right'
= link_to 'Regresar', users_path, class: 'btn btn-warning'

